// 全局 Less 变量
@primary: #1989fa;
@success: #07c160;
@danger: #ee0a24;
@warning: #ff976a;

@text-color: #323233;
@text-color-secondary: #969799;
@border-color: #ebedf0;
@bg-color: #f7f8fa;

@padding-xs: 8px;
@padding-sm: 12px;
@padding-md: 16px;
@padding-lg: 24px;
